[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
click = "*"
cymysql = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
requests = "*"
sqlalchemy = "*"
urllib3 = "*"
werkzeug = "*"
wtforms = "*"
flask-login = "*"
flask-mail = "*"
mypy = "*"

[requires]
python_version = "3.7"
